.bar-root {
    position: relative;
    display: flex;
    align-items: center;
    height: 23px; /* so that flexbox is same height as bar, not height of grid square */
}

.bar-name {
    width: 135px;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 300;
    color: #707070;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0px;
}

.bar {
    height: 23px;
}

.bar.background {
    position: relative;
    width: 180px;
    background-color: #3B414B;
}

.bar.fill {
    position: absolute;
    top: 0px;
    width: 150px;
}

.bar.buffer {
   background: repeating-linear-gradient(
        -45deg,
        white,
        white 10px,
        gray 10px,
        gray 20px);
    position: absolute;
    background-color: #707070;
    opacity: 0.1;
}

.bar.value {
    width: 60px;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}

.bar-value-text {
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 300;
    color: #ffffff;
    text-align: right;
    margin-bottom: 0px;
}

.bar-value-unit {
    width: 20px;
}
