.gauge-container-title {
    margin-bottom: 10px;
}

.gauge-container-flex {
    display: flex
}

/* spacing between gauges, except last gauge */
.gauge-container-flex-item:not(:last-child) {
    margin-right: 40px;
}
