.indicator-root {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

.indicator-name {
    margin-left: 10px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.indicator-background {
    width: 30px;
    height: 30px;
    background-color: #3B414B;
}

.indicator-background.operational {
    background-color: #ffffff;
}

.indicator-background.not-operational {
    background-color: #a30606;
}
