.header {
    display: flex;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.timer {
    color: #707070;
    font-size: 30px;
    font-family: 'Lato';
    display: flex;
    margin-right: 20px;
}

.progress-bar {
    flex-grow: 1; /* allow progress bar to grow and fill space */
    background: #a30606;
    height: 10px;
    margin: 0px 40px 0px;
    margin-right: 20px
}

.pod-status {
    display: flex;
    flex-direction: column;
    float: right;
    width: 170px;
}

.status-text {
    margin: 0px;
    text-align: right;
    font-family: 'Lato';
    font-weight: 300;
}

.connection-text {
    font-size: 19px;
}

.connection-text.connected {
    color: #0D9513;
}

.connection-text.not-connected {
    color: #a30606;
}

.pod-status-text {
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
}

.pod-temperature {
    font-family: 'Lato';
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-right: 20px;
}
#logo {
    width: 20%;
}

#logoDark{
    position: absolute;
    width: 15%;
    visibility: hidden;
}
