.header {
    display: flex;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-bottom: 10px;
}

.progress-bar {
    flex-grow: 1; /* allow progress bar to grow and fill space */
    margin: 40px;
}

progress[value] {
    display: flex;
    margin: 0;
    height: 15px;
    width: auto;
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #3b414b;
}

progress::-webkit-progress-value {
    background-color: #d30935;
}

.pod-status {
    display: flex;
    flex-direction: column;
    float: right;
    width: 170px;
}

.status-text {
    margin: 0px;
    text-align: right;
    font-family: 'Lato';
    font-weight: 300;
}

.connection-text {
    font-size: 19px;
}

.connection-text.connected {
    color: #0D9513;
}

.connection-text.not-connected {
    color: #a30606;
}

.pod-status-text {
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
}

#logo {
    width: 20%;
}
