.indicator-container {
    /* grid instead of column flexbox because of a bug in flexbox (sad reaccs):
     * https://stackoverflow.com/a/55751683 */
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 45px 45px;
    align-items: start;
}

.indicator-container-title {
    margin-bottom: 17px;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 300;
    color: #ffffff;
}
