.bar-container-root {
    margin-bottom: 20px;
}

.bar-container-title {
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 17px;
}

.bar-container {
    display: flex;
    flex-direction: column;
}

.bar-container-item:not(:last-child) {
    margin-bottom: 12px;
}
