.bar-container-root {
    margin-bottom: 3%;
}

.bar-container-title {
    margin-bottom: 2.5%;
}

.bar-container {
    display: flex;
    flex-direction: column;
}

.bar-container-item:not(:last-child) {
    margin-bottom: 10px;
}
