.gauge {
    background-color: #0f1d3a;
    border-radius: 50%;
    position: relative;
}

.clip {
    clip-path: inset(0 0 0 50%);
}

.clip.full {
    position: absolute;
    top: 0px;
}

.circle {
    background-color: #a30606;
    border-radius: 50%;
}

.clip .circle {
    clip-path: inset(0 50% 0 0);
}

.inset {
    background: #0f1d3a;
    border-radius: 50%;
    position: absolute;
    top: 0px;
}
