.gauge-title {
    font-size: 25px;
    font-family: 'Lato';
    font-weight: 300;
    color: #ffffff;
}

.gauge {
    background-color: #374259;
    border-radius: 50%;
    position: relative;
    transition: all .2s ease;
}

.gauge:hover {
    transform: scale(1.1);
}

.clip {
    clip-path: inset(0 0 0 50%);
    position: absolute;
    top: 0px;
}

.clip.danger-zone {
    clip-path: inset(0 50% 0 0);
}

.circle {
    background-color: #ffffff;
    border-radius: 50%;
}

.circle.danger-zone {
    background-color: #a30606;
    transform: rotate(150deg);
}

.clip .circle {
    clip-path: inset(0 50% 0 0);
}

.circle.seam {
    position: absolute;
    top: 0px;
}

.inset {
    background-color: #0f1d3a;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    transition: all .2s ease;
}

.gauge:hover .inset {
    transform: scale(1.15);
}
