body {
    background-color: #0f1d3a;
}

.light-mode body{
    background-color: #ffffff;
}

.title {
    font-size: 17px;
    font-family: 'Lato';
    font-weight: 300;
    color: #ffffff;
}

.subtitle {
    font-size: 15px;
    font-family: 'Lato';
    font-weight: 300;
    color: #707070;
}

.wrapper {
    display: grid;
    grid-template-columns: 430px 380px auto;
    grid-template-rows: 90px 190px 410px auto;
    grid-gap: 20px 5px;
    margin: auto;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 1250px) {
    .wrapper {
        max-width: 1250px;
    }
}

#gauges {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#velocity-gauge {
    margin-right: 40px;
}

#battery-flexbox {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}

#indicators {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 290px;
}

#buttons {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    align-self: end;
}

#swith-box{
    color: white;
}

@media (min-width: 768px) {
    #battery-flexbox {
        justify-content: flex-end;
    }
}

@media (min-width: 1250px) {
    #battery-flexbox {
        justify-content: space-between;
    }
}

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
       url('./fonts/lato-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/lato-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('./fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/lato-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
