.progress-bar-root {
    position: relative;
    flex-grow: 1; /* allow progress bar to grow and fill space */
    margin: 0px 40px 0px;
}

.progress-bar-fill {
    background: #a30606;
    position: absolute;
    top: 0px;
    height: 10px;
    width: 15px
}

.progress-bar-fill.fill-1 {
    left: 0%;
    transform: translate(-100%, 0);
}

.progress-bar-fill.fill-2 {
    left: 100%;
}

.progress-bar-background {
    background: #a30606;
    height: 10px;
}

.progress-bar-indicator {
    position: absolute;
    top: 0px;
    transform: translate(-50%, 0);
    background: #ffffff;
    height: 10px;
    width: 30px
}

.progress-bar-value {
    text-align: center;
    font-family: Lato;
    color: #ffffff;
    margin-bottom: 20px;
}

.arrow-up {
    margin-top: 50%;
    margin-left: 33%;
    width: 0;
    height: 0;
    border-left: 0.2em solid transparent;
    border-right: 0.2em solid transparent;
    border-top: 0.2em solid transparent;
    border-bottom: 0.2em solid #ffffff;
  }