.gauge-title {
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    color: #707070;
    margin-bottom: 10px;
}

.gauge-value {
    position: relative;
    font-size: 40px;
    font-family: 'Lato';
    font-weight: 300;
    color: #707070;
}

.gauge-value-large {
    position: relative;
    font-size: 80px;
    font-family: 'Lato';
    font-weight: 300;
    color: #707070;
}

.gauge-unit {
    text-align: center;
    align-self: flex-end;
    position: absolute;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    color: #707070;
}

.gauge-background {
    background-color: #3B414B;
    border-radius: 50%;
    position: relative;
    transition: all .2s ease;
}

.gauge-background:hover {
    transform: scale(1.1);
}

.clip {
    clip-path: inset(0 0 0 50%);
    position: absolute;
    top: 0px;
}

.clip.danger-zone {
    clip-path: inset(0 50% 0 0);
}

.circle {
    background-color: #ffffff;
    border-radius: 50%;
}

.circle.danger-zone {
    background-color: #a30606;
    transform: rotate(150deg);
}

.clip .circle {
    clip-path: inset(0 50% 0 0);
}

.circle.seam {
    position: absolute;
    top: 0px;
}

.inset {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f1d3a;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    transition: all .2s ease;
}

.gauge-background:hover .inset {
    transform: scale(1.15);
}
