.gauge-title {
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    color: #707070;
    margin-bottom: 10px;
}

.gauge-background {
    background-color: #3B414B;
    border-radius: 50%;
    position: relative;
    transition: all .2s ease;
}

.gauge-background:hover {
    transform: scale(1.1);
}

.clip {
    clip-path: inset(0 0 0 50%);
    position: absolute;
    top: 0px;
}

.clip.danger-zone {
    clip-path: inset(0 50% 0 0);
}

.circle {
    background-color: #ffffff;
    border-radius: 50%;
    transition: all .2s ease;
}

.circle.out-of-bounds {
    background-color: #a30606;
}

.circle.danger-zone {
    background-color: #5a1725;
    transform: rotate(140deg);
}

.clip .circle {
    clip-path: inset(0 50% 0 0);
}

.circle.seam {
    position: absolute;
    top: 0px;
}

.inset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f1d3a;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    transition: all .2s ease;
}

.gauge-background:hover .inset {
    transform: scale(1.15);
}

.gauge-text {
    font-family: 'Lato';
    font-weight: 300;
    color: #707070;
    margin: 0px;
}

.gauge-text.out-of-bounds {
    color: #a30606;
}

.gauge-text.value {
    font-size: 40px;
}

.gauge-text.unit {
    font-size: 18px;
}
